.buttonpm{
  width: 200px;
}

.imgPM{
  width: 200px;
  margin: auto;
  padding-top: 15px;
}

.img_logo{
  width: 400px;
  padding-bottom: 50px;
}

.rounded:hover{
  transform: scale(1.1);
  transition: all 1s;
}